<div class="page-header">
  <div class="d-flex justify-content-center my-5">
    <div class="col-md-5 text-center">
      <h1>Olá {{ usuario?.Nome }}, bem vindo</h1>
      <h6 *ngIf="usuario?.CPF">
        Aqui estão algumas vagas disponíveis para você
      </h6>
      <h6 *ngIf="usuario?.CNPJ">Aqui estão as vagas cadastradas</h6>
    </div>
  </div>
</div>

<div class="container">
  <div class="d-flex flex-row justify-content-end">
    <button class="btn btn-primary mb-2" (click)="navigateToAdicionarVaga()">
      Adicionar nova vaga
    </button>
  </div>

  <app-tabela-vagas [vagas]="vagas"></app-tabela-vagas>
</div>
