<p-table
  [value]="vagas"
  [paginator]="true"
  [rows]="10"
  [showCurrentPageReport]="true"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  [rowsPerPageOptions]="[10, 25, 50]"
  [scrollable]="true"
  scrollHeight="500px"
  [tableStyle]="{ 'min-width': '400px' }"
>
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 20%">Evento</th>
      <th style="width: 20%">Localização</th>
      <th style="width: 20%">Data Expiração</th>
      <th style="width: 20%">Valor</th>
      <th style="width: 20%"></th>
    </tr>
    <tr>
      <th class="w-250">
        <p-columnFilter field="Nome" matchMode="equals" [showMenu]="false">
          <ng-template pTemplate="filter" let-value let-filter="filterCallback">
            <p-dropdown
              [ngModel]="value"
              [options]="eventoOptions"
              (onChange)="filter($event.value)"
              [autoDisplayFirst]="false"
              placeholder="Filtrar evento"
              appendTo="body"
            >
            </p-dropdown>
          </ng-template>
        </p-columnFilter>
      </th>
      <th class="w-250">
        <p-columnFilter field="Cidade" matchMode="equals" [showMenu]="false">
          <ng-template pTemplate="filter" let-value let-filter="filterCallback">
            <p-dropdown
              [ngModel]="value"
              [options]="localizacaoOptions"
              (onChange)="filter($event.value)"
              [autoDisplayFirst]="false"
              placeholder="Filtrar localização"
              appendTo="body"
            >
            </p-dropdown>
          </ng-template>
        </p-columnFilter>
      </th>
      <th class="w-250">
        <p-columnFilter
          field="DataExpiracao"
          matchMode="equals"
          [showMenu]="false"
        >
          <ng-template pTemplate="filter" let-value let-filter="filterCallback">
            <p-dropdown
              [ngModel]="value"
              [options]="dataExpiracaoOptions"
              (onChange)="filter($event.value)"
              [autoDisplayFirst]="false"
              placeholder="Filtrar localização"
              appendTo="body"
            >
            </p-dropdown>
          </ng-template>
        </p-columnFilter>
      </th>
      <th class="w-250">
        <p-columnFilter
          field="Remuneracao"
          matchMode="equals"
          [showMenu]="false"
        >
          <ng-template pTemplate="filter" let-value let-filter="filterCallback">
            <p-dropdown
              [ngModel]="value"
              [options]="valorOptions"
              (onChange)="filter($event.value)"
              [autoDisplayFirst]="false"
              placeholder="Filtrar valor"
              appendTo="body"
            >
            </p-dropdown>
          </ng-template>
        </p-columnFilter>
      </th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData>
    <tr>
      <td>{{ rowData.Nome }}</td>
      <td>{{ rowData.Cidade }}</td>
      <td>{{ rowData.DataExpiracao | date }}</td>
      <td>{{ rowData.Remuneracao }}</td>
      <td>
        <button
          pButton
          pRipple
          class="p-button-secondary"
          (click)="navigateToDetalhesVaga(rowData.Id)"
        >
          <i class="fa-solid fa-circle-info"></i> &nbsp; Detalhes
        </button>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="5">Não há vagags no momento</td>
    </tr>
  </ng-template>
</p-table>
