<div class="page-header">
  <p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
  <div class="d-flex justify-content-center my-sm-5 my-md-5">
    <h1>Suas vagas</h1>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <p-carousel
      [value]="vagas"
      [numVisible]="3"
      [numScroll]="3"
      [circular]="false"
      [responsiveOptions]="responsiveOptions"
    >
      <ng-template let-rowData pTemplate="item">
        <div class="product-item">
          <div class="product-item-content">
            <div>
              <h4 class="mb-1">
                {{ rowData.Nome }} - {{ status[rowData.status] }}
              </h4>

              <ng-container *ngIf="rowData.status === 0">
                <h6 class="mt-0 mb-3">
                  Ainda está em aberto. Total de participantes:
                  {{ rowData.totalPartipantes }}
                </h6>
              </ng-container>

              <ng-container *ngIf="rowData.status === 1">
                <h6 class="mt-0 mb-3">
                  Análise dos pariticpantes que farão parte do trabalho
                </h6>
              </ng-container>

              <ng-container *ngIf="rowData.status === 2">
                <h6 class="mt-0 mb-3">
                  A vaga foi finalizada. Remuneração total de R$ 300 para os
                  participantes
                </h6>
              </ng-container>

              <span
                >Última atualização dia
                {{ rowData.DataAtualizacao | date }}</span
              >
            </div>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </div>
</div>
