<div class="page-header">
  <p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
  <div class="d-flex justify-content-center my-sm-5 my-md-5">
    <h1>Suas vagas</h1>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <p-carousel
      [value]="vagas"
      [numVisible]="3"
      [numScroll]="3"
      [circular]="false"
      [responsiveOptions]="responsiveOptions"
    >
      <ng-template let-rowData pTemplate="item">
        <div class="product-item">
          <div class="product-item-content">
            <div>
              <h4 class="mb-1">
                {{ rowData.Nome }} - {{ rowData.Status | vagaStatus }}
              </h4>

              <ng-container *ngIf="rowData.Status === status.Aberto">
                <h6 class="mt-2 mb-3">
                  Ainda está em aberto. Total de participantes:
                  {{ rowData.totalParticipantes }}
                </h6>
              </ng-container>

              <ng-container *ngIf="rowData.Status === status.Fechado">
                <h6 class="mt-0 mb-3">
                  Análise dos pariticpantes que farão parte do trabalho.
                </h6>
              </ng-container>

              <ng-container *ngIf="rowData.Status === status.Finalizado">
                <h6 class="mt-0 mb-3">
                  A vaga foi finalizada. Remuneração total de R$
                  {{ rowData.remuneracaoTotal }} para os participantes.
                </h6>
              </ng-container>

              <span
                >Última atualização:
                {{ rowData.DataAtualizacao | dateFormatUTC }}</span
              >
            </div>
            <div class="car-buttons mt-5">
              <button
                class="btn btn-info"
                (click)="showAlterarStatusDialog(rowData.Id)"
              >
                Alterar status da vaga
              </button>
            </div>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </div>
</div>

<p-dialog
  header="Alterar status da vaga"
  [(visible)]="mostrarModal"
  [modal]="true"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
  (onHide)="refresh()"
>
  <div class="row">
    <div class="text-center">
      <p-dropdown
        [(ngModel)]="valorStatus"
        [options]="statusOptions"
        [autoDisplayFirst]="false"
        placeholder="Selecione um status"
        optionLabel="label"
        optionValue="value"
        appendTo="body"
      >
      </p-dropdown>
    </div>
    <div class="text-center col-12 mt-2">
      <button class="btn btn-primary" (click)="alterarStatus()">
        <i class="fa-solid fa-check"> </i> Salvar
      </button>
    </div>
  </div>
</p-dialog>

<p-toast></p-toast>
