<div class="page-header">
  <p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
  <div class="d-flex justify-content-center my-sm-5 my-md-5">
    <h1>Suas vagas</h1>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <p-carousel
      [value]="vagas"
      [numVisible]="3"
      [numScroll]="3"
      [circular]="false"
      [responsiveOptions]="responsiveOptions"
    >
      <ng-template let-rowData pTemplate="item">
        <div class="product-item">
          <div class="product-item-content">
            <div>
              <h4 class="mb-1">
                {{ rowData.Nome }} -
                {{ rowData.TrabalhadorStatus | trabalhadorStatus }}
              </h4>
              <h6 class="mt-2 mb-3">
                Você aceitou a vaga: {{ rowData.DataAceite | dateFormatUTC }}
              </h6>

              <ng-container
                *ngIf="rowData.TrabalhadorStatus === status.Analise"
              >
                <h6 class="mt-0 mb-3">Requisitos salvos com sucesso</h6>
              </ng-container>

              <ng-container
                *ngIf="rowData.TrabalhadorStatus === status.Pendente"
              >
                <h6 class="mt-0 mb-3">
                  Análise dos requisitos obrigatórios do contratante
                </h6>
              </ng-container>

              <ng-container
                *ngIf="rowData.TrabalhadorStatus === status.Aprovado"
              >
                <h6 class="mt-0 mb-3">
                  Remuneração aprovada. Valor total de: R$
                  {{ rowData.Remuneracao }}
                </h6>
              </ng-container>

              <span
                >Última atualização:
                {{ rowData.DataAtualizacao | dateFormatUTC }}</span
              >
            </div>
            <div class="car-buttons mt-5">
              <button class="btn btn-danger" (click)="sairVaga(rowData.Id)">
                Sair da vaga
              </button>
            </div>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </div>

  <div class="text-center">
    <strong>Remuneracao total: R$ {{ totalRemuneracao }}</strong>
  </div>
</div>

<p-confirmDialog
  header="Confirmation"
  icon="pi pi-exclamation-triangle"
></p-confirmDialog>

<p-toast></p-toast>
