<div class="page-header">
  <div class="d-flex justify-content-center my-sm-5">
    <h1>Olá fulano, bem vindo</h1>
  </div>
</div>
<div class="d-flex vh-100 align-items-sm-star justify-content-center">
  <p-table
    [value]="vagas"
    [paginator]="true"
    [rows]="10"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [rowsPerPageOptions]="[10, 25, 50]"
    [tableStyle]="{ 'min-width': '50rem' }"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>Evento</th>
        <th>Localização</th>
        <th>Data Expiração</th>
        <th>Valor</th>
        <th></th>
      </tr>
      <tr>
        <th class="w-250">
          <p-columnFilter field="Nome" matchMode="equals" [showMenu]="false">
            <ng-template
              pTemplate="filter"
              let-value
              let-filter="filterCallback"
            >
              <p-dropdown
                [ngModel]="value"
                [options]="eventoOptions"
                (onChange)="filter($event.value)"
                [autoDisplayFirst]="false"
                placeholder="Filtrar evento"
                appendTo="body"
              >
              </p-dropdown>
            </ng-template>
          </p-columnFilter>
        </th>
        <th class="w-250">
          <p-columnFilter field="Cidade" matchMode="equals" [showMenu]="false">
            <ng-template
              pTemplate="filter"
              let-value
              let-filter="filterCallback"
            >
              <p-dropdown
                [ngModel]="value"
                [options]="localizacaoOptions"
                (onChange)="filter($event.value)"
                [autoDisplayFirst]="false"
                placeholder="Filtrar localização"
                appendTo="body"
              >
              </p-dropdown>
            </ng-template>
          </p-columnFilter>
        </th>
        <th>
          <p-columnFilter
            field="DataExpiracao"
            matchMode="equals"
            [showMenu]="false"
          >
            <ng-template
              pTemplate="filter"
              let-value
              let-filter="filterCallback"
            >
              <p-dropdown
                [ngModel]="value"
                [options]="dataExpiracaoOptions"
                (onChange)="filter($event.value)"
                [autoDisplayFirst]="false"
                placeholder="Filtrar localização"
                appendTo="body"
              >
              </p-dropdown>
            </ng-template>
          </p-columnFilter>
        </th>
        <th class="w-250">
          <p-columnFilter field="Valor" matchMode="equals" [showMenu]="false">
            <ng-template
              pTemplate="filter"
              let-value
              let-filter="filterCallback"
            >
              <p-dropdown
                [ngModel]="value"
                [options]="valorOptions"
                (onChange)="filter($event.value)"
                [autoDisplayFirst]="false"
                placeholder="Filtrar valor"
                appendTo="body"
              >
              </p-dropdown>
            </ng-template>
          </p-columnFilter>
        </th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData>
      <tr>
        <td>{{ rowData.Nome }}</td>
        <td>{{ rowData.Cidade }}</td>
        <td>{{ rowData.DataExpiracao | date }}</td>
        <td>{{ rowData.Remuneracao }}</td>
        <td>
          <button pButton pRipple class="p-button-secondary">Detalhes</button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
