<div class="page-header">
  <div class="d-flex justify-content-center text-center mt-sm-3">
    <div class="col-md-3">
      <h1>Cadastre-se</h1>
      <h6>Insira aqui seus dados</h6>
    </div>
  </div>
</div>
<div class="d-flex align-items-center justify-content-center">
  <div class="container">
    <div class="row text-center">
      <div class="col-sm-10 offset-sm-1 col-md-6 offset-md-3">
        <div
          class="card shadow-lg mt-sm-3"
          style="border-radius: 20px; padding: 2rem; max-height: 100%"
        >
          <div
            class="d-flex flex-md-row justify-content-md-evenly flex-sm-column align-items-sm-center flex-column align-items-sm-center mb-5"
          >
            <div class="mb-sm-1 mb-md-0">
              <p-radioButton
                name="usuario"
                value="cpf"
                [(ngModel)]="tipoUsuario"
                inputId="cpf"
                (onClick)="setValidators()"
              ></p-radioButton>
              <label for="cpf">Trabalhador</label>
            </div>

            <div class="mt-sm-1 mt-md-0">
              <p-radioButton
                name="usuario"
                value="cnpj"
                [(ngModel)]="tipoUsuario"
                inputId="cnpj"
                (onClick)="setValidators()"
              ></p-radioButton>
              <label for="cnpj">Empresa</label>
            </div>
          </div>
          <div class="d-flex justify-content-center">
            <form [formGroup]="form" (submit)="submitForm()">
              <div class="mb-4 col-sm-12">
                <span class="p-float-label">
                  <input
                    pInputText
                    formControlName="nome"
                    type="tel"
                    class="form-control"
                  />
                  <label for="nome"
                    >Nome
                    <i
                      class="fa-solid fa-asterisk fa-2xs"
                      style="color: red"
                    ></i
                  ></label>
                </span>
              </div>
              <div class="mb-4 col-sm-12">
                <span class="p-float-label">
                  <input
                    pInputText
                    formControlName="email"
                    type="email"
                    class="form-control"
                  />
                  <label for="email"
                    >Email
                    <i
                      class="fa-solid fa-asterisk fa-2xs"
                      style="color: red"
                    ></i
                  ></label>
                </span>
              </div>
              <div *ngIf="tipoUsuario === 'cnpj'" class="mb-4 col-sm-12">
                <span class="p-float-label">
                  <p-inputMask
                    styleClass="form-control"
                    mask="99.999.999/9999-99"
                    formControlName="cnpj"
                    id="cnpj_input"
                    [unmask]="true"
                  ></p-inputMask>
                  <label for="cnpj_input"
                    >CNPJ
                    <i
                      class="fa-solid fa-asterisk fa-2xs"
                      style="color: red"
                    ></i
                  ></label>
                </span>
              </div>
              <div *ngIf="tipoUsuario === 'cpf'" class="mb-4 col-sm-12">
                <span class="p-float-label">
                  <p-inputMask
                    styleClass="form-control"
                    mask="999.999.999-99"
                    formControlName="cpf"
                    id="cpf_input"
                    [unmask]="true"
                  ></p-inputMask>
                  <label for="cpf_input"
                    >CPF
                    <i
                      class="fa-solid fa-asterisk fa-2xs"
                      style="color: red"
                    ></i
                  ></label>
                </span>
              </div>

              <div class="mb-4 col-sm-12">
                <span class="p-float-label">
                  <input
                    pInputText
                    class="form-control"
                    type="number"
                    id="integeronly"
                    formControlName="telefone"
                  />
                  <label for="number-input"
                    >Telefone
                    <i
                      class="fa-solid fa-asterisk fa-2xs"
                      style="color: red"
                    ></i
                  ></label>
                </span>
              </div>
              <div class="mb-4 col-sm-12">
                <span class="p-float-label">
                  <input
                    pInputText
                    type="password"
                    formControlName="senha"
                    class="form-control"
                  />
                  <label for="senha"
                    >Senha
                    <i
                      class="fa-solid fa-asterisk fa-2xs"
                      style="color: red"
                    ></i
                  ></label>
                </span>
              </div>

              <div class="mb-4 row mt-2">
                <div class="col-sm-12">
                  <div>
                    <button
                      pButton
                      pRipple
                      type="submit"
                      class="btn btn-primary btn-md"
                      [disabled]="form.invalid"
                    >
                      Cadastrar
                    </button>
                  </div>

                  <div>
                    <button
                      pRipple
                      type="button"
                      class="btn btn-link btn-md"
                      (click)="navigateToLogin()"
                    >
                      Voltar
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<p-toast></p-toast>
