<div class="page-header">
  <p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
  <div class="d-flex justify-content-center my-sm-5 my-md-5">
    <h1>{{ vaga?.Nome }}</h1>
  </div>
</div>

<div class="container">
  <div
    class="d-flex flex-row justify-content-md-center justify-content-sm-start"
  >
    <div class="col-sm-10 col-md-6 mb-3">
      <h5>Descrição da vaga</h5>
      <p>{{ vaga?.Descricao }}</p>
    </div>
  </div>

  <div
    class="d-flex flex-row justify-content-md-center justify-content-sm-start"
  >
    <div class="col-sm-10 col-md-6 mb-3">
      <h5>Tipo da vaga</h5>
      <p>{{ vaga?.TipoVaga }}</p>
    </div>
  </div>

  <div
    class="d-flex flex-row justify-content-md-center justify-content-sm-start"
  >
    <div class="col-sm-10 col-md-6 mb-3">
      <h5>Localização e dúvidas</h5>
      <p>
        Endereço: {{ vaga?.Endereco }} - {{ vaga?.Cidade }}, {{ vaga?.Estado }}
      </p>
      <p>Dúvidas? Fale conosco no número: 999999999</p>
    </div>
  </div>

  <div
    class="d-flex flex-row justify-content-md-center justify-content-sm-start"
  >
    <div class="col-sm-10 col-md-3 mb-3">
      <h5>Remuneração</h5>
      <p>R$ {{ vaga?.Remuneracao }}</p>
    </div>
  </div>

  <div
    class="d-flex flex-row justify-content-md-center justify-content-sm-start"
  ></div>
  <div class="d-flex flex-row justify-content-md-center justify-content-lg-end">
    <button
      *ngIf="!isEmpresa"
      pRipple
      type="button"
      class="btn btn-primary btn-md"
      (click)="registrarVaga()"
    >
      Quero me candidatar
    </button>

    <button
      *ngIf="isEmpresa"
      pRipple
      type="button"
      class="btn btn-info btn-md"
      (click)="showEditarVagaDialog()"
    >
      <i class="fa-solid fa-pen-to-square"> </i> Editar vaga
    </button>
    <button
      *ngIf="isEmpresa"
      pRipple
      type="button"
      class="btn btn-danger btn-md"
      (click)="apagarVaga()"
    >
      <i class="fa-solid fa-trash"> </i> Apagar vaga
    </button>
  </div>
</div>

<p-dialog
  header="Editar vaga"
  [(visible)]="mostrarModal"
  [modal]="true"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <app-cadastro-vaga [vaga]="vaga"></app-cadastro-vaga>
</p-dialog>

<p-confirmDialog
  header="Confirmation"
  icon="pi pi-exclamation-triangle"
></p-confirmDialog>
