<div class="page-header">
  <div class="d-flex justify-content-center mt-5 mb-2">
    <div class="col-md-5 text-center">
      <h1>Olá {{ usuario?.nome }}, bem vindo</h1>
      <h6>Aqui estão as vagas cadastradas</h6>
    </div>
  </div>
</div>

<div class="container">
  <div class="d-flex flex-row justify-content-end">
    <button class="btn btn-primary mb-2" (click)="navigateToAdicionarVaga()">
      <i class="fa-solid fa-plus"></i> Adicionar nova vaga
    </button>
  </div>

  <app-tabela-vagas [vagas]="vagas"></app-tabela-vagas>
</div>
