<div class="page-header">
  <p-breadcrumb *ngIf="!vaga" [model]="items" [home]="home"></p-breadcrumb>
  <div class="d-flex justify-content-center my-sm-5 my-md-5">
    <h1 *ngIf="!vaga">Cadastro de vagas</h1>
  </div>
</div>

<div class="container">
  <form [formGroup]="form" (submit)="salvarVaga()">
    <div class="row mb-5">
      <div class="col-md-3 mt-md-0 col-sm-5 col-5 mt-2">
        <span class="p-float-label">
          <input
            pInputText
            formControlName="nomeVaga"
            type="text"
            class="form-control"
          />
          <label for="nomeVaga"
            >Título da vaga
            <i class="fa-solid fa-asterisk fa-2xs" style="color: red"></i
          ></label>
        </span>
      </div>
      <div class="col-md-3 mt-md-0 col-sm-5 col-5 mt-2">
        <span class="p-float-label">
          <input
            pInputText
            formControlName="remuneracao"
            type="number"
            class="form-control"
          />

          <label for="remuneracao"
            >Remuneração
            <i class="fa-solid fa-asterisk fa-2xs" style="color: red"></i
          ></label>
        </span>
      </div>
      <div class="col-md-3 mt-md-0 col-sm-5 mt-sm-2 col-5 mt-2">
        <span class="p-float-label">
          <input
            pInputText
            formControlName="endereco"
            type="text"
            class="form-control"
          />
          <label for="endereco"
            >Endereço
            <i class="fa-solid fa-asterisk fa-2xs" style="color: red"></i
          ></label>
        </span>
      </div>
      <div class="col-md-3 mt-md-0 col-sm-5 mt-sm-2 col-5 mt-2">
        <span class="p-float-label">
          <input
            pInputText
            formControlName="estado"
            type="text"
            class="form-control"
          />
          <label for="estado"
            >Estado
            <i class="fa-solid fa-asterisk fa-2xs" style="color: red"></i
          ></label>
        </span>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 col-sm-5 col-5 mt-2">
        <span class="p-float-label">
          <input
            pInputText
            formControlName="cidade"
            type="text"
            class="form-control"
          />
          <label for="cidade"
            >Cidade
            <i class="fa-solid fa-asterisk fa-2xs" style="color: red"></i
          ></label>
        </span>
      </div>

      <div class="col-md-3 col-sm-5 col-6 mt-2">
        <span class="p-float-label">
          <p-calendar
            inputId="dataExpiracao"
            formControlName="dataExpiracao"
            [showIcon]="true"
            appendTo="body"
            [minDate]="minDate"
            dateFormat="dd/m/yy"
          ></p-calendar>
          <label for="dataExpiracao"
            >Data de expiração
            <i class="fa-solid fa-asterisk fa-2xs" style="color: red"></i
          ></label>
        </span>
      </div>
      <div class="col-md-3 col-sm-5 col-5 mt-2">
        <span class="p-float-label">
          <input
            pInputText
            formControlName="limiteTrabalhadores"
            type="number"
            class="form-control"
          />
          <label for="limiteTrabalhadores"
            >Limite de trabalhadores
            <i class="fa-solid fa-asterisk fa-2xs" style="color: red"></i
          ></label>
        </span>
      </div>
      <div class="col-md-3 col-sm-5 col-5 mt-2">
        <span class="p-float-label">
          <p-dropdown
            inputId="tipoVaga"
            [options]="tipoVagas"
            formControlName="tipoVaga"
            optionLabel="name"
            optionValue="name"
            appendTo="body"
            [autoDisplayFirst]="false"
          ></p-dropdown>
          <label for="tipoVaga"
            >Tipo da vaga
            <i class="fa-solid fa-asterisk fa-2xs" style="color: red"></i
          ></label>
        </span>
      </div>
    </div>

    <div class="d-flex justify-content-center mt-4">
      <span class="p-float-label">
        <textarea
          inputId="descricao"
          [rows]="5"
          [cols]="50"
          pInputTextarea
          [autoResize]="true"
          formControlName="descricao"
        ></textarea>
        <label for="descricao"
          >Descrição da vaga
          <i class="fa-solid fa-asterisk fa-2xs" style="color: red"></i
        ></label>
      </span>
    </div>

    <div class="d-flex justify-content-center mt-4">
      <button
        pRipple
        type="submit"
        class="btn btn-primary btn-md"
        [disabled]="form.invalid"
      >
        <i class="fa-solid fa-check"> </i> Salvar
      </button>
    </div>
  </form>
</div>
